#line1, #line2, #line3, #line4, #line5, #line6, #line7, #line8, #line9, #line10, #line11, #line12, #line13, #line14, #line15{
	text-align: center;
	align-self: center;
}

#wrapper {
	height: 100vh;
	width: 100vw;
	display: grid;
	
}

body {
	background-color: #f0ebdd;
	background-image: url("../images/blank_page.jpg");
	background-size: 100vw;
	overflow-x: hidden;
	background-repeat: repeat-y;
	font-size: 2em;
}

.word {
	display: inline;
	align-self: center;
	filter: blur(3px);
}

.word:hover{
	cursor: pointer;
}

img {
	width: 10vw;
	height: 10vw;
	align-self: center;
}
